In [1]:
#import Dependencies
import pandas as pd
import os

In [2]:
#create a varialbe for the file
file = "purchase_data.csv"

In [3]:
#import and view the first 5 lines of the data file
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
#get player count
#break to a new df with only the data we need
player_count_df = purchase_data_df.copy()["SN"]
#count unique Screen Names
player_count = player_count_df.nunique()

In [31]:
#Purchasting Analysis(Total)
#Number of Unique Items
number_items_df = purchase_data_df.copy()["Item Name"]
number_items = number_items_df.nunique()

#Average Purchase Price
average_purcahse_df = purchase_data_df.copy()["Price"]
average_purchase = average_purcahse_df.mean()

#Total Number of Purchases

total_num_purchases_df = purchase_data_df.copy()["Purchase ID"]
total_num_purchases = total_num_purchases_df.count()

#Total Revenue
total_rev_df = purchase_data_df.copy()["Price"]
total_rev = total_rev_df.sum()

In [32]:
#Print Analysis
print("")
print(f"Heroes of Pymoli Analysis")
print(f"--------------------------")
print(f"Player Count")
print(f"Total Number of Players: {player_count}")
print(f"")
print(f"Purchasing Analysis (Total)")
print(f"Number of Unique Items: {number_items}")
print("Average Purchase Price: ${:,.3}".format(average_purchase))
print(f"Total Number of Purchases: {total_num_purchases}")
print(f"Total Revenue: ${total_rev}")
print(f"")
print(f"")
print(f"")
print(f"")
print(f"")
print(f"")
print(f"")
print(f"")

Heroes of Pymoli Analysis
--------------------------
Player Count
Total Number of Players: 576

Purchasing Analysis (Total)
Number of Unique Items: 179
Average Purchase Price: $3.05
Total Number of Purchases: 780
Total Revenue: $2379.77

In [ ]:
#create txt. file with analysis
f = open("Heroes of Pymoli Analysis.txt", "w+")
f.write(""+ "/n")
f.write("Heroes of Pymoli Analysis")
f.write("--------------------------")
f.write("Player Count")
f.write(f"Total Number of Players: {player_count}")
f.write(""+ "/n")
f.write("Purchasing Analysis (Total)")
f.write(f"Number of Unique Items: {number_items}")
f.write(f"Average Purchase Price: {average_purchase}")
f.write(f"Total Number of Purchases: {total_num_purchases}")
f.write(f"Total Revenue: ${total_rev}")
f.write(f)
f.write(f)
f.write(f)
f.write(f)
f.write(f)
f.write(f)
f.write(f)